:root {
  --black-color: #000000;
  --white-color: #ffffff;
  --gray-color: #d9d9d9;

  --green-100: #62a0a0;
  --green-300: #339191;
  --green-500: #297373;

  --yellow-500: #f0b100;

  --primary-button: #bc9cb0;
  --primary-button-hover: #ba80a4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--green-500);

  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header i {
  font-size: 2rem;
}

header .column-right {
  display: flex;
  align-items: center;
}

header .column-right #cart-quantity {
  background-color: #bc9cb0;
  padding: 0.063rem 0.5rem;
  border-radius: 100%;

  font-size: 0.75rem;
  font-weight: 500;
}

header .column-right #cart-quantity p {
  font-size: 0.75rem;
  font-weight: bold;
}

main {
  background-color: rgba(251, 251, 249, 0.6);

  width: 42rem;
  height: auto;
  padding: 2rem;
  border-radius: 0.25rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#products .title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#products .title i {
  font-size: 2rem;
}

#products .title p {
  font-size: 1.25rem;
  font-weight: bold;
}

#products .products-list {
  padding: 1rem 0;
  width: 100%;
}

#products .products-list .empty-cart {
  font-weight: 400;
  margin-top: 1rem;
}

#products .products-list p {
  font-weight: bold;
}

#products .products-list .product-name {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1rem;
}

#products .products-list .product-name p {
  font-weight: 400;
}

#products .products-list .product-name p:last-child {
  background-color: #bc9cb0;

  border: 1px solid var(--black-color);
  border-radius: 0.25rem;
  padding: 0.25rem;

  font-size: 0.75rem;
  font-weight: bold;
}

#products #clear-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  background-color: #bc9cb0;
  width: 10rem;
  height: 1.75rem;
  border-radius: 1rem;
  border: 1px solid black;

  cursor: pointer;

  font-size: 0.875rem;
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
  }

  header h1 {
    font-size: 1rem;
  }

  main {
    width: 20rem;
    height: 26rem;

    justify-content: center;
  }

  .cards {
    flex-direction: column;
  }
}
